.stackItem1 {
  padding: 10%;
  border-radius: 15px;
  margin: 2%;
}

.stackItem2 {
  padding: 10%;
  border-radius: 15px;
  margin: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.heading {
  padding: 10%;
}
