.footer {
  clear: both;
  position: relative;
  height: 80px;
  margin-top: auto;
  background-color: #088f8f;
}

.socials {
  padding: 3%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.copyright .company-name {
  color: #fff;
}
