.footer {
    position: absolute;
    bottom: -200px;
    width: 100%;
    margin-top: 50px;
    background-color: #088F8F;
}

.footer-logo {
    text-align: center;
    margin: 30px auto 20px;
    color: #fff;
} 

.socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.icons {
    margin-right: 20px;
    margin-bottom: 30px;
}

.copyright .company-name {
    color: #fff;
}