.article_content{
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    min-height: 150px;
    font-size: 12px;
}
.article_title{
    text-align: left;
    margin: 10px auto;
}
.extract_title{
    margin: 5px auto;
    text-align: left;
}
.article_image {
    height: 100px;
}
.article_description{
    display: block;
}
.article_paper{
    margin: 0 auto 10px;
}
.article_story{
    text-align: justify;
    vertical-align: top;
    margin-top: 0;
}
