
.article {
    padding: 16px;
}
.article_title{
    text-align: center;
    margin: 10px auto;
}
.extract_title{
    margin: 10px auto;
    text-align: left;
}
.article_content{
    text-align: justify;
}
.article_paper{
    margin: 0 auto 10px;
}
