.addAssetFormContainer {
    background-color: rgba(190, 70, 255, 0);
}

.react-datepicker__input-container {
    width: inherit;
}

.formEntry {
    background-color: rgba(0, 0, 255, 0.1);
    width: 100%;
}
