.addAssetFormContainer {
    background-color: rgba(190, 70, 255, 0);
}

.react-datepicker__input-container {
    width: inherit;
}

.formEntry {
    background-color: rgba(255, 255, 255);
    width: 100%;
}
