.button {
    text-align: right;
    padding-right: 10px;
}

.tableBox {
    padding-bottom: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    overflow: auto;
    background-color: white;
}

.tableHeading {
    font-size: 30px;
    font-weight: bold;
    padding: 1em 0.5em;
}

.coinImage {
    width: 40px;
    height: 40px;
}

.coinText {
    font-size: 1em;
    font-weight: 100;
}

.coinAggregate {
    background-color: rgba(0, 0, 0, 0.05);
}

.normal {
    color: black;
}

.profit {
    color: green;
}

.loss {
    color: red;
}
