.header{
    background-color: #088F8F
}
.topBar{
    background-color: #088F8F;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.logoTitle{
    font-weight: bold;
}
