.header{
    background-color: #088F8F
}
.topBar{
    background-color: #088F8F;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.logo{
    margin-left: auto;
}
.logo.logoTitle{
    font-weight: bold;
}
.menu{
    margin-left: auto;
}
.drawer_header{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}