.bgColor {
  background-color: rgba(79, 184, 172, 0.582);
  height: 100vh;
}

.greetings {
  font-size: 2em;
}

.cardBox {
  background: rgb(230, 248, 246);
  margin: auto;
  margin-top: 20%;
  border-radius: 15px;
  padding: 3%;
}

.fontColor {
  color: white;
}

.centerButton {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
}

.centerButton Button {
  text-decoration: none;
}
