.pageDiv {
  /* padding: 5%; */
  /* border-radius: 15px; */
  /* background-color: antiquewhite; */
}

.portfolioTable {
  padding-bottom: 10px;
}

/* .heading {
  background-color: white;
  margin-bottom: 5px;
  border: 2;
  border-radius: 5px;
} */
