/* .portfolioTable {
  padding-bottom: 10px;
  padding: 2%;
  border-radius: 15px;
} */

.stackItem {
  border-radius: 15px;
  margin: 4%;
  background-color: rgb(255, 255, 255, 0.97);
}

.heading {
  padding-top: 5%;
  /* padding-left: 4%; */
}

.hidden {
  display: none;
}

.displayInline {
  display: flex;
  font-size: 30px;
  text-align: center;
  justify-content: space-around;

  padding-bottom: 5%;
}
