.pageDiv {
  padding: 5%;
  background-color: black;
}

.portfolioTable {
  padding-bottom: 5px;
}

/* .heading {
  background-color: white;
  margin-bottom: 5px;
  border: 2;
  border-radius: 5px;
} */
