.tableBox {
  background-color: rgb(230, 248, 246);
}
.tableDesign {
  table-layout: fixed;
  width: 100%;
}

.coinImage {
  width: 40px;
  height: 40px;
}

.coinText {
  font-size: 1em;
  font-weight: 100;
}

.normal {
  color: black;
}

.profit {
  color: green;
}

.loss {
  color: red;
}

.tableHeading {
  font-size: 10px;
  font-weight: bold;
  padding: 1em 0.5em;
  display: flex-end;
}